public/server/php/files/*
public/server/php/files
public/server/php/large_storage
public/server/php/files.to_be_deleted
public/server/php/large_storage/*
public/server/php/files.to_be_deleted/*
public/server/php/Ting-Kok-Road-SPS-Test/
public/server/php/request.log
public/*.db
public/_sfpg_data/*
_sfpg_data
public/server/*.txt
public/server/php/*.txt
upload.db*
public/server/php/*.log
zoning.json
upload.db.*
public/server/php/date_time.png
debug.txt
tmp
tmp/.*
to_generate_images.txt
public/llm_assistant/chat
public/vendor/
public/vendor/composer
public/composer.lock
scss
scss/.*
public/llm_assistant/*.db
llm_assistant/*.db
*.db
public/llm_assistant/llm.db
public/llm_assistant/assistant_feedback.db
assistant_feedback.db
llm.db
composer.lock
