.navbar{
    display: none;
}

body{
    background-color: #11466a;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover
{
    color: #8298b1 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
    background: linear-gradient(to bottom, rgba(102, 123, 164, 0.479) 0%, rgba(24, 32, 55, 0.05) 100%);    
}

a .bi
{
    color: hsl(202, 100%, 88%);
}

.logs{
    font-size: 80%;
    background-color:rgba(255, 255, 255, 0.631);
}